* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 1250px / 2);
    padding-right: calc(50% - 1250px / 2);


}

.header {
    padding-top: 29px;
    background: #F6F2F2;
}

.header-menu {
    background: black;
    opacity: 0.8;
    position: relative;
}

.burger {
    display: none;
}

@media screen and (max-width: 475px) {
    .burger {
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        padding: 25px 11px;
    }
}

.burger__item {
    width: 90px;
    height: 5px;
    background-color: rgb(241, 10, 10);
}

@media screen and (max-width: 475px) {
    .header-nav {
        background: #000000;
        position: absolute;
        top: 85px;
        left: 0px;
        transition-duration: 0.5s;
    }

}

.header-nav_hidden {
    left: -120px;

}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 475px) {

    .menu {
        flex-direction: column;
    }
}

.menu__link {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.49px;
    text-transform: uppercase;
    color: #E0E0E0;
    padding: 38px 23px 26px;

}

@media screen and (max-width: 475px) {
    .menu__link {
        padding: 38px 16px 26px;
        width: 80px;
        justify-content: center;
    }
}



.menu__link:hover {
    background: #FF3F40;
}

.menu__link_active {
    background: #FF3F40;
}

.header-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 101px;
}

@media screen and (max-width: 1240px) {
    .header-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.header-info {
    width: 550px;
    padding-bottom: 100px;
}

.header-info__title {
    font-style: italic;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000;
}

@media screen and (max-width: 550px) {
    .header-info__title {
        font-size: 42px;
    }
}

@media screen and (max-width: 475px) {
    .header-info__title {
        font-size: 34px;
    }
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.text_header-info {
    width: 544px;
    margin-top: 36px;
    margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
    .text_header-info {
        width: 100%;
    }
}

.button {

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.3px;
    border-radius: 5px;
    border: 3px solid #FF0000;
    transition-duration: 0.3s;
}

.button:hover {
    background: rgba(0, 0, 0, 0.0001);
    color: #FF2D2D;
}

.header-info__button {
    background: #FF2D2D;
    padding: 14px 62px;
    color: #FFFFFF;
}

.header-info__video {
    max-width: 553px;
    height: 359px;
    width: 100%;
}

.service {
    padding-top: 108px;
    margin-bottom: 104px;
}

.service-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 52px;
    column-gap: 20px;
    padding-bottom: 98px;
    border-bottom: 5px solid #ECECEC;
}

@media screen and (max-width: 1240px) {
    .service-box {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 10px;
        padding-right: 10px;
    }
}

.service-info {
    grid-column: span 2;
    grid-row: span 2;
    max-width: 538px;


}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 0.38px;
    text-transform: uppercase;
    color: #000000;

}

.text_service-info {
    padding-top: 50px;
    padding-bottom: 64px;
}

.service-info__button {
    padding: 15px 60px;
    background: rgba(0, 0, 0, 0.0001);
    color: #FF2D2D;
}

.service-info__button:hover {
    background: #FF2D2D;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .service-article {
        grid-column: span 2;
    }
}

.service-article__title {
    padding-top: 32px;
    padding-bottom: 13px;
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #000000;

}

@media screen and (max-width: 1240px) {
    .products {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.heading_products {
    text-align: center;
}

.text_products {
    max-width: 536px;
    margin: 28px auto 33px;
    text-align: center;
}

.products__line {
    width: 134px;
    height: 5px;
    background: #FF2D2D;
    margin: auto;
}

.products__box {
    padding-top: 86px;
}

.products__links {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
}

.products__link {
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    color: #000000;
    transition: color 0.3s;
}

.products__link:hover {
    color: #FF2D2D;
}

.products__link_active {
    color: #FF2D2D;
}

.products__items {
    padding-left: calc(50% - 1252px / 2);
    padding-right: calc(50% - 1252px / 2);
    margin-top: 58px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.products__item {
    display: flex;
}